{% extends "TarsierAdminBundle::layout.html.twig" %}

{% block main %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Rss List</div>
    <div class="panel-body">
        <a href="/rss/add">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add New</button>
        </a>
    </div>
    <table class="table table-center">
        <colgroup>
            <col width="33.33333333%">
            <col width="33.33333333%">
            <col width="33.33333333%">
        </colgroup>
        <tr>
            {# sorting of properties based on query components #}
            <td{% if pagination.isSorted('r.id') %} class="sorted" {% endif %}><span class="glyphicon glyphicon-sort" aria-hidden="true"></span>&nbsp;&nbsp;
            <strong>{{ knp_pagination_sortable(pagination, 'Id', 'r.id') }}</strong>
            </td>
            <td><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>&nbsp;&nbsp;
                <strong>{{ knp_pagination_sortable(pagination, 'Title', 'r.title') }}</strong>
            </td>
            <td><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>&nbsp;&nbsp;
                <strong>{{ knp_pagination_sortable(pagination, 'Status', 'r.status') }}</strong>
            </td>
        </tr>
    </table>
    <table class="table">
        <colgroup>
            <col width="20%">
            <col width="30%">
            <col width="30%">
            <col width="20%">
        </colgroup>
        <thead>

        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Operating</th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
        <tr>
            <th scope="row">{{ article.id }}</th>
            <td><strong>{{ article.title }}</strong></td>
            <td>{{ article.status|translateStatus(['delete','effective']) }}</td>
            <td>
                <a href="/rss/edit/id/{{ article.id }}">
                    <button class="btn btn-primary" type="submit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
                </a>
                <a href="/rss/delete/id/{{ article.id }}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"> {{ knp_pagination_render(pagination) }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
